@model List<Doctor>
<div class="container mt-4">
    <div class="row pb-3">
        <section id="search" class="text-center" style="display: flex; justify-content: center; align-items: center; width: 100%;">
            <form asp-action="Index" method="get" class="d-flex justify-content-center align-items-center w-100">
                <input type="text" name="search" list="searchTopics" placeholder="Search By Specialty" class="form-control w-50" style="max-width: 600px;">
                <button type="submit" class="btn btn-primary ms-2">Search</button>
                <datalist id="searchTopics">
                    @foreach (var spec in Model)
                    {
                        <option value="@spec.Specailized">@spec.Specailized</option>
                    }
                </datalist>
            </form>
        </section>
    </div>
    <div class="row pb-3">
        
        @foreach (var doc in Model)
        {
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3 shadow border-top border-5 rounded">
                            @if (string.IsNullOrEmpty(doc.ImagePath))
                            {
                                <img src="~/images/Doctor/doctor.svg" class="card-img-top rounded" alt="@doc.Description">
                            }
                            else
                            {
                                <img src="@doc.ImagePath" class="card-img-top rounded" alt="@doc.Description">
                            }

                            <div class="card-body pb-0">
                                <div class="pl-1">
                                    <p class="card-title h5 text-danger opacity-75 text-uppercase text-center">
                                        @doc.User.FullName
                                    </p>
                                    <p class="card-title text-warning text-center">
                                        <b>@doc.Specailized</b>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-danger text-opacity-75 text-center">
                                        List Price:
                                        <span class="text-decoration-line-through mb-0">
                                            @doc.Price.ToString("c")
                                        </span>
                                    </p>
                                </div>
                                <div class="pl-1">
                                    <p class="text-danger text-opacity-75 text-center">
                                        As low as: <span>@doc.Description</span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                <a asp-action="Details"
                                   asp-route-id="@doc.Id"
                                   class="btn btn-primary btn-gradient border-0 form-control">
                                    Details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
